@use '../variables' as var;

@import url(https://fonts.googleapis.com/css?family=Raleway:500,400,300,800,700);

body {
    font-family: Raleway;
    font-weight: 500;
    margin: 0;
}

a {
    &.undecorated {
        text-decoration: none;
    }
    &.fixed {
        .pi {
            font-size: inherit;
            color: #2196f3;
        }
    }
}

.clickable {
    cursor: pointer !important;
}

.page-body {
    max-width: var.$max-width-page;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    padding: 0 1em;

    &.fixed {
        padding-top: var.$nav-bar-fixed-height + 15;
    }

    .site-title {
        margin: 0.1em 0;
        font-size: 6em;
        color: var.$primary-color;
    }
}

.p-button {
    background: var.$primary-color;
    border: 1px solid var.$primary-color;
    color: white;
}
