@use '../variables' as var;

@import url(https://fonts.googleapis.com/css?family=Raleway:500,400,300,800,700);

//global set scroll style
* {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #ccc;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(51 51 51 / 65%);
        border-radius: 20px;
        border: 3px solid #ccc;
    }
}

body {
    font-family: Raleway;
    font-weight: 500;
    margin: 0;
}

a {
    &.undecorated {
        text-decoration: none;
    }
    &.fixed {
        .pi {
            font-size: inherit;
            color: #2196f3;
        }
    }
}

.clickable {
    cursor: pointer !important;
}

.page-body {
    max-width: var.$max-width-page;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    padding: 0 1em;

    &.fixed {
        padding-top: var.$nav-bar-fixed-height + 15;
    }

    .site-title {
        margin: 0.1em 0;
        font-size: 6em;
        color: var.$primary-color;
    }
}

.p-button {
    background: var.$primary-color;
    border: 1px solid var.$primary-color;
    color: white;
}

.numbered-list {
    list-style-type: decimal-leading-zero;
}

.sticky-panel-full-view {
    display: block;
    position: sticky;
    top: var.$nav-bar-fixed-height;
    height: 100%;
    max-height: 100vh;
    min-height: 50vh;
    overflow-y: auto;
    padding: 0 0.25em;
    padding-bottom: var.$nav-bar-fixed-height;
    margin-bottom: -(var.$nav-bar-fixed-height);
}

.sticky-simple-panel-view {
    display: block;
    position: sticky;
    top: var.$nav-bar-fixed-height;
    z-index: 1;
    &.bg-white {
        background: white;
    }
}
