@use '../variables.scss' as var;

.annotation-thread-list {
    padding: 1em;
    background-color: var.$annotation_panel_color;

    .__annotations_wrapper {
        min-height: 200px;
    }

    .__header {
        margin-bottom: 0.5em;

        &_title {
            margin: .5em 0;
        }

        &_logo {
            width: 32px;
            height: 100%;
            min-height: 32px;
            background-size: auto 32px;
            display: inline-block;
        }

        ._main_bar {
            flex: 1;
        }
    }

    .annotation-card {
        font-size: 0.8em;
    }
}
