<div class="h-user-signin">
    <ng-container *ngIf="!processing else loading_template">
        <div *ngIf="showRemoveSession && hasSession" class="p-text-center p-pb-2">
            <button pButton type="button" icon="pi pi-times" label="Close Session" (click)="clearSession()"
                class="p-button-danger"></button>
        </div>
        <form [formGroup]="form" class="p-fluid p-formgrid" (submit)="_continue()">
            <div class="__h_logo">
                <img src="https://d242fdlp0qlcia.cloudfront.net/uploads/2017/04/16171750/hypothesislogomark.png"
                    alt="hypothes.is">
            </div>
            <div class="p-field">
                <label>User</label>
                <input pInputText type="text" formControlName="username" name="username">
            </div>
            <div class="p-field">
                <label>Token</label>
                <input pInputText type="password" formControlName="token" name="token">
                <p>
                    <span class="p-p-1">Find it by logging in <a [href]="h_tokenUrl" target="_blank">here</a></span>
                </p>
            </div>
            <div *ngIf="processingError" class="p-field p-error p-text-center">
                {{processingError}}
            </div>
            <div>
                <p-button type="submit" label="Sign in" styleClass="p-button-danger" icon="pi pi-sign-in"></p-button>
            </div>
        </form>
    </ng-container>
</div>
<ng-template #loading_template>
    <a2np-c-loading-panel message="Authenticating..." styleClass="loading-panel"></a2np-c-loading-panel>
</ng-template>