<ng-container *ngIf="!procesing else loading_panel">
    <div class="p-d-flex p-ai-center">
        <h2 style="flex: 1;">NanoPublications In Site</h2>
        <div class="__buttons_bar">
            <button pButton [disabled]="procesing" icon="pi pi-refresh" class="p-button-text p-button-rounded"
                (click)="reload()" label="Refresh"></button>
        </div>
    </div>
    <div class="">
        <a2np-c-nanopub-card *ngFor="let nanopub of nanopubs" [nanopub]="nanopub">
            <div class="p-mt-2 p-text-center">
                <p-button *ngIf="!nanopub?.publication_info" styleClass="p-button-outlined p-button-text"
                    icon="pi pi-file-o" label="Nanopub" (onClick)="showRdfOfNanopub(nanopub.rdf_raw)"></p-button>
                <a *ngIf="nanopub?.publication_info" pButton [href]="nanopub.publication_info.nanopub_uri"
                    class="p-button p-button-link p-button-outlined p-button-text undecorated" target="_blank"
                    icon="pi pi-file-o" label="Nanopub"></a>
                <p-button styleClass="p-button-outlined p-button-text p-button-danger"
                    icon="pi pi-trash" label="Delete" (onClick)="deleteNanopub(nanopub)"></p-button>    
            </div>
        </a2np-c-nanopub-card>
    </div>
</ng-container>

<ng-template #loading_panel>
    <a2np-c-loading-panel [message]="procesingMessage"></a2np-c-loading-panel>
</ng-template>