.nanopub-card {
    background-color: #eaeaea;
    color: black;
    max-width: 700px;
    width: 100%;
    margin: auto;

    .__link_protocol {
        font-size: 0.7em;
    }

    &.inline {
        max-width: 100%;
        font-size: 0.9em;
        margin-bottom: 0.5em;
        
        .title-panel {
            padding: 0.5em 0 1em;
            color: inherit;
            font-weight: 600;
        }
    }
}
