// page settings
$nav-bar-fixed-height: 60px;
$max-width-page: 1300px;
$default-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
// borders-settings
$default-border-color: #dbdbdb;
$hover-border-color: #58cef4;
// annotaions
$annotation_card_bg_color: white;
$annotation_panel_color: #ececec;

$nanopub-ontology-color: #234979;
$nanopub-ontology-contrast-color: white;
