.workflow-card-component {
    background-color: #eaeaea;
    color: black;
    max-width: 700px;
    width: 100%;
    margin: auto;

    ._workflow-nanopubs {
        padding: 1em;
        background: #f0e68c4d;
        border-radius: 1em;
    }
}
