<div class="nanopub-publisher p-grid">
    <div class="p-col-12">
        <p-menubar [model]="menuModel"></p-menubar>
    </div>
    <div class="p-col-12">
        <h4 class="p-my-1">Status of Nanopub</h4>
        <ng-container *ngIf="remoteNanopublication else empty_remote_nanopub">
            <a2np-c-nanopub-card [nanopub]="remoteNanopublication" layout="inline"></a2np-c-nanopub-card>
        </ng-container>
        <ng-template #empty_remote_nanopub>
            <h5 class="p-my-0" style="color:red">No published</h5>
        </ng-template>
    </div>
    <div class="p-col-12">
        <ng-container *ngIf="!procesing  else loading_template">
            <a2np-c-nanopub-rdf-body [nanopub]="nanopub?.rdf"></a2np-c-nanopub-rdf-body>
        </ng-container>
    </div>
</div>

<ng-template #loading_template>
    <div class="__loading_wrapper p-text-center p-my-6">
        <i class="pi pi-spin pi-spinner" style="font-size: 5em"></i>
        <span class="p-d-block p-p-2">{{processing_message}}</span>
    </div>
</ng-template>