<div class="page-body p-p-3 p-d-flex p-jc-center p-ai-center">
    <div class="p-grid">
        <div class="p-col-12 p-text-center">
            <h1 class="site-title" >{{title}}</h1>
            <br>
            <p style="font-size: 2.5em">
                Tool for the generation of 'nanopublications' based on hypothesis annotations
            </p>
        </div>
        <a2np-c-annotator-bookmark [withHelp]="true" class="p-col-12"></a2np-c-annotator-bookmark>
        <div class="p-text-center p-col-12">
            <h4>Or</h4>
        </div>
        <a2np-c-site-url-editor [showContinueButton]="true" class="p-col-12" title="Enter de site url"
            (onNext)="next()">
        </a2np-c-site-url-editor>
    </div>
</div>