<ng-container *ngIf="!procesing else loading_panel">
    <div class="p-d-flex p-ai-center">
        <h2 style="flex: 1;">Workflows In Site</h2>
        <div class="__buttons_bar">
            <button pButton [disabled]="procesing" icon="pi pi-refresh" class="p-button-text p-button-rounded"
                (click)="reload()" label="Refresh"></button>
            <ng-content select="[head-buttons]"></ng-content>
        </div>
    </div>
    <div class="__nanopubs_body">
        <ng-container *ngIf="emptyWorkflows else workflows_body">
            <div class="p-text-center">
                <h1 style="color: red;" class="p-my-6">No workflows found!!</h1>
                <button *ngIf="showNewWorkflow" pButton [disabled]="procesing" icon="pi pi-plus"
                    class="p-button-rounded" (click)="onNewWorkflow.emit()" label="Create Workflow !"></button>
            </div>
        </ng-container>
        <ng-template #workflows_body>
            <a2np-c-workflow-card *ngFor="let workflow of workflows" [workflow]="workflow">
                <a2np-c-workflow-action-bar [workflow]="workflow" (onNeedReload)="reload()">
                </a2np-c-workflow-action-bar>
            </a2np-c-workflow-card>
        </ng-template>
    </div>
</ng-container>

<ng-template #loading_panel>
    <a2np-c-loading-panel [message]="procesingMessage"></a2np-c-loading-panel>
</ng-template>