<div class="p-grid">
    <div class="p-col-8">
        <ng-container [ngSwitch]="perspective">
            <ng-container *ngSwitchCase="'home'" [ngTemplateOutlet]="home_template">
            </ng-container>
            <ng-container *ngSwitchCase="'editor'">
                <a2np-c-annotation-editor *ngIf="annotation" [annotation]="annotation"
                    (onUpdate)="refreshAnnotations()">
                </a2np-c-annotation-editor>
            </ng-container>
            <ng-container *ngSwitchCase="'nanopub'">
                <a2np-c-nanopub-publisher [step]="nanopub.step" [annotations]="nanopub.annotations" >
                </a2np-c-nanopub-publisher>
            </ng-container>
        </ng-container>
    </div>
    <div class="p-col-4">
        <a2np-c-annotation-thread-list [query]="query" (onAction)="handleAnnotation($event)">
        </a2np-c-annotation-thread-list>
    </div>
</div>

<ng-template #home_template>
    <h5>Go to site an select text and annotate</h5>
    <a href="{{app.siteData.url}}">Go to site</a>
</ng-template>

<ng-template #loading_template>
    <div class="__loading_wrapper p-text-center">
        <i class="pi pi-spin pi-spinner" style="font-size: 5em"></i>
        <span class="p-d-block p-p-2">Searching...</span>
    </div>
</ng-template>