<div class="p-grid">
    <div class="p-col-8">
        <ng-container [ngSwitch]="perspective">
            <ng-container *ngSwitchCase="'home'" [ngTemplateOutlet]="home_template">
            </ng-container>
            <ng-container *ngSwitchCase="'editor'">
                <a2np-c-annotation-editor *ngIf="annotation" [annotation]="annotation"
                    (onUpdate)="refreshAnnotations()">
                </a2np-c-annotation-editor>
            </ng-container>
            <ng-container *ngSwitchCase="'nanopub'">
                <a2np-c-nanopub-publisher [step]="nanopub.step" [annotations]="nanopub.annotations">
                </a2np-c-nanopub-publisher>
            </ng-container>
        </ng-container>
    </div>
    <div class="p-col-4">
        <a2np-c-annotation-thread-list class="sticky-panel-full-view" [query]="query"
            (onAction)="handleAnnotation($event)">
        </a2np-c-annotation-thread-list>
    </div>
</div>

<ng-template #home_template>
    <div class="p-text-center p-py-5">
        <h1>
            <span style="color: rgba(231, 48, 16, 0.87);">No text has been selected</span>
            <br>
            <span>Go to the site an select text and annotate</span>
        </h1>
        <a pButton href="{{app.siteData.url}}" class="p-button-primary" label="Go to site" icon="pi pi-external-link"
            style="text-decoration: none;"></a>
    </div>
</ng-template>

<ng-template #loading_template>
    <div class="__loading_wrapper p-text-center">
        <i class="pi pi-spin pi-spinner" style="font-size: 5em"></i>
        <span class="p-d-block p-p-2">Searching...</span>
    </div>
</ng-template>